h1 {
    color: black;
    text-align: center;
    color: blueviolet;
    font-size: 50px;
    padding: 10px;
  }
  h2 , p {
    text-align: center;
    opacity: 0.6;
  }
  
  body {
    background-color: white;
  }
  .tempe {
    font-size: 50px;
    color: black;
    position: relative;
    right: -10px;
  }
  
  .icon {
    font-size: 10px;
    position: relative;
    float: left;
  
  }
  .humid, .windy {
    opacity: 0.6;
  }

  .click{
    display: block;
    margin: 20px auto;
    background-color: #6a9fa7;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 5px;
  }
  .city {
    display: block;
    margin: 20px auto;
    width: 300px;
  }

  .weather-app {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
  }
  .current-loc {
    display: block;
    margin: 10px auto;
    background-color: #75a776;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
  
  
  }
  .description{
    text-align: left;
    color: rgb(33,33,33);
    opacity: 0.6;
  }
  .units {
    position: relative;
    top: -30px;
    right: -10px;
  }
  .code{
      text-align: center;
  }
  .weather-forecast{
    margin-top: 20px;
    text-align: center;
    color: #000;

  }
  .weather-forcast-date{
    font-size: 16px;
    opacity: 0.6;
   
  }
  .weather-temperature-min{
    opacity: 0.5;

  }